// $right-ballon-background-color: #F0F4C3;
$right-ballon-background-color: #DCEDC8;

.message-ballon {
  &-body {
    background-color: #ffffff;
    padding: 6px 10px;
    display: inline-block;
    max-width: 400px;
    border-radius: 0.2rem;
    font-size: 0.875rem;
    position: relative;
    border-top-left-radius: 0;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #FFFFFF;
      position: absolute;
      left: -10px;
      top: 0;
    }
  }

  &:not(:first-child) {
    margin-top: 5px;
  }

  &-right &-body {
    border-top-right-radius: 0;
    border-top-left-radius: 0.2rem;
    background-color: $right-ballon-background-color;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $right-ballon-background-color;
      border-right: none;
      position: absolute;
      left: auto;
      right: -10px;
      top: 0;
    }
  }
}
