.message-input {
  width: 100%;
  background-color: desaturate(#36ABFF, 20);
  border-top: solid 1px darken(#36ABFF, 15);
  padding: 10px;
  height: 60px;

  &-input {
    background-color: #FFFFFF;
    width: 100%;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    border-radius: 0.2rem;
  }
}
